In [2]:
#load packages
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from scipy import stats

In [6]:
#dill.dump_session('notebook_env.db') #save progress

In [7]:
#dill.load_session('notebook_env.db') #load progress

In [8]:
#load data, change directory to your corresponding directories
tag = pd.read_csv("~/Desktop/APAN5900/Tag Data JG.csv")

In [9]:
np.shape(tag) #dimension

(474948, 61)

In [10]:
tag.describe()  #summary of tag data

,POWDER_MI_N_RESULT,P1:FC70104,P1:FC70113,P1:FC70116,P1:FC70117,P1:FC70120,P1:FC70121,P1:FC70302,P1:Fc70302.AOT,P1:FC70309,...,P1:TR70104,P1:TR70105,P1:TR70106,P1:TR70107,P1:TR70108,P1:TR70109,P1:TR70110,P1:TR70111,P1:TR70201,P1:TR70305
count,1285.000000,474780.000000,474780.000000,474780.000000,474780.000000,474780.000000,474780.000000,474780.000000,474780.000000,474948.000000,...,474780.000000,474780.000000,474780.000000,474780.000000,474780.000000,474780.000000,474780.000000,474780.000000,474780.000000,474780.000000
mean,4.540821,42566.267520,90.603056,37534.418031,13756.997247,6971.572492,6791.592072,77032.428407,49.605938,50022.377752,...,179.524201,184.061483,187.022822,187.071296,185.874510,188.214717,187.273341,186.489616,101.527905,95.652222
std,3.065154,10658.907868,108.817466,17638.683105,4896.968277,1653.538575,1637.111213,30418.941971,16.071910,12837.758455,...,16.200895,14.981342,15.233879,14.819217,14.246953,15.047288,14.774859,14.825817,10.125880,10.844265
min,0.709000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.380000,41723.002000,0.999998,28701.608250,9939.597900,6967.669800,6922.981175,61954.540250,44.740993,49082.496250,...,172.277630,180.106905,183.883030,184.119180,183.590360,185.166745,184.636825,183.762910,95.602245,90.484572
50%,3.780000,45703.427500,9.985807,39237.012000,13275.303000,7082.420400,7059.809350,81876.031500,53.564054,52638.891000,...,181.373835,185.875085,188.834525,188.691445,187.391770,189.831160,188.690735,187.792045,101.586830,93.446106
75%,4.450000,48067.617000,179.993150,49363.353250,17846.241000,7520.302400,7453.380625,97682.049000,59.155867,56175.150750,...,187.841037,190.180402,192.664470,192.287678,190.433252,193.394660,192.083102,191.225510,108.302113,101.834185
max,36.070000,54140.277000,854.803280,119999.940000,44732.734000,13357.232000,18000.000000,189885.800000,100.000000,70509.445000,...,249.570950,242.760670,243.768840,250.000000,250.000000,250.000000,244.593190,234.901540,119.902320,136.239580

In [18]:
tag.isnull().sum() #only 168 rows with na for most columns, 1474 for proGrade, let's delete them

Time                       0
ProGrade                   0
MI                    472038
P1:FC70104                 0
P1:FC70113                 0
P1:FC70116                 0
P1:FC70117                 0
P1:FC70120                 0
P1:FC70121                 0
P1:FC70302                 0
P1:Fc70302.AOT             0
P1:FC70309                 0
P1:FC70310                 0
P1:FCV70111                0
P1:FFC70106                0
P1:FFC70113                0
P1:FFC70118                0
P1:FFC70119                0
P1:FI70402                 0
P1:FR70106                 0
P1:FR70119                 0
P1:FR70303                 0
P1:LC70104                 0
P1:LC70104.PID             0
P1:PI70123                 0
P1:PI70136                 0
P1:PR70200                 0
P1:PRS70108                0
P1:PRS70108.PID            0
P1:QI70402A                0
                       ...
P1:QIA701002               0
P1:QIA701003               0
P1:QIA701004               0
P1:QIA701005               0
P1:R700ACT                 0
P1:R700ACT-Average         0
P1:R700RECYCLEB            0
P1:R700RECYCLET            0
P1:SI/TI-700-MVG           0
P1:TC70311                 0
P1:TCS70100                0
P1:TCS70100.PID            0
P1:TI70140                 0
P1:TI70141                 0
P1:TI70304                 0
P1:TI8802                  0
P1:TR70100                 0
P1:TR70101                 0
P1:TR70102                 0
P1:TR70103                 0
P1:TR70104                 0
P1:TR70105                 0
P1:TR70106                 0
P1:TR70107                 0
P1:TR70108                 0
P1:TR70109                 0
P1:TR70110                 0
P1:TR70111                 0
P1:TR70201                 0
P1:TR70305                 0
Length: 61, dtype: int64

In [13]:
#delete rows with nas except for MI

#first we delete MI from columns 
tag_subset = np.array(tag.columns)
tag_subset = np.delete(tag_subset, np.argwhere(tag_subset=='POWDER_MI_N_RESULT'))
tag_subset

array(['Time', 'PROD_GRADE_N_RESULT', 'P1:FC70104', 'P1:FC70113',
       'P1:FC70116', 'P1:FC70117', 'P1:FC70120', 'P1:FC70121',
       'P1:FC70302', 'P1:Fc70302.AOT', 'P1:FC70309', 'P1:FC70310',
       'P1:FCV70111', 'P1:FFC70106', 'P1:FFC70113', 'P1:FFC70118',
       'P1:FFC70119', 'P1:FI70402', 'P1:FR70106', 'P1:FR70119',
       'P1:FR70303', 'P1:LC70104', 'P1:LC70104.PID', 'P1:PI70123',
       'P1:PI70136', 'P1:PR70200', 'P1:PRS70108', 'P1:PRS70108.PID',
       'P1:QI70402A', 'P1:QIA701001', 'P1:QIA701002', 'P1:QIA701003',
       'P1:QIA701004', 'P1:QIA701005', 'P1:R700ACT', 'P1:R700ACT-Average',
       'P1:R700RECYCLEB', 'P1:R700RECYCLET', 'P1:SI/TI-700-MVG',
       'P1:TC70311', 'P1:TCS70100', 'P1:TCS70100.PID', 'P1:TI70140',
       'P1:TI70141', 'P1:TI70304', 'P1:TI8802', 'P1:TR70100', 'P1:TR70101',
       'P1:TR70102', 'P1:TR70103', 'P1:TR70104', 'P1:TR70105',
       'P1:TR70106', 'P1:TR70107', 'P1:TR70108', 'P1:TR70109',
       'P1:TR70110', 'P1:TR70111', 'P1:TR70201', 'P1:TR70305'], dtype=object)

In [14]:
#then we pass this in argument in dropna
tag = tag.dropna(subset = tag_subset)

In [15]:
#rename column names for easier use
tag.rename(columns={'PROD_GRADE_N_RESULT':'ProGrade'}, inplace=True)
tag.rename(columns={'POWDER_MI_N_RESULT':'MI'}, inplace=True)

/Users/conggeorgesun/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [16]:
tag.head() #first 5 rows

,Time,ProGrade,MI,P1:FC70104,P1:FC70113,P1:FC70116,P1:FC70117,P1:FC70120,P1:FC70121,P1:FC70302,...,P1:TR70104,P1:TR70105,P1:TR70106,P1:TR70107,P1:TR70108,P1:TR70109,P1:TR70110,P1:TR70111,P1:TR70201,P1:TR70305
0,9/1/2018 0:01,4110N,NaN,38794.609,190.75885,24957.957,14851.066,8557.4453,8234.1465,76234.313,...,188.43633,192.51096,191.25912,195.41490,190.49413,195.98662,191.57228,188.17290,109.82582,93.186417
1,9/1/2018 0:02,4110N,NaN,39349.859,211.37585,27914.863,14821.011,8553.7354,8235.4736,76240.289,...,188.38400,192.46667,191.22163,195.39833,190.43701,195.92068,191.54037,188.06023,109.82489,93.182861
2,9/1/2018 0:03,4110N,NaN,39299.203,236.44901,26407.764,14790.954,8550.0254,8236.8008,76246.266,...,188.33170,192.42241,191.18413,195.38177,190.37990,195.85475,191.50848,187.94756,109.82396,93.179306
3,9/1/2018 0:04,4110N,NaN,39085.840,261.52216,25929.623,14760.897,8546.3154,8238.1279,76252.242,...,188.27939,192.37813,191.14664,195.36520,190.32278,195.78882,191.47658,187.83487,109.82303,93.175743
4,9/1/2018 0:05,4110N,NaN,38872.480,286.59531,25934.773,14730.841,8542.6045,8239.4551,76258.227,...,188.22707,192.33385,191.10913,195.34863,190.26567,195.72289,191.44469,187.72220,109.82209,93.172188

In [17]:
sum(tag['MI'].notnull()) #only 1278 not null value for MI

1278

In [28]:
#export the cleaned tag dataset
tag.to_csv(r'~/Desktop/APAN5900/Tag Data JG Final.csv', index=False)