In [1]:
#load packages
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from scipy import stats

In [6]:
#dill.dump_session('notebook_env.db') #save progress

In [7]:
#dill.load_session('notebook_env.db') #load progress

In [13]:
#load data, change directory to your corresponding directories
#tag = pd.read_csv("~/Desktop/APAN5900/Tag Data JG.csv")
tag = pd.read_csv("C:/Users/cos00/Desktop/Nuclear/APAN5900/Tag Data.csv")

In [20]:
np.shape(tag) #dimension

(474780, 61)

In [15]:
tag.head()  #head of tag data

,Time,ProdGrade,MI,P1:FC70104,P1:FC70113,P1:FC70116,P1:FC70117,P1:FC70120,P1:FC70121,P1:FC70302,...,P1:TR70104,P1:TR70105,P1:TR70106,P1:TR70107,P1:TR70108,P1:TR70109,P1:TR70110,P1:TR70111,P1:TR70201,P1:TR70305
0,9/1/2018 0:01:00,4110N,NaN,38794.609,190.75885,24957.957,14851.066,8557.4453,8234.1465,76234.313,...,188.43633,192.51096,191.25912,195.41490,190.49413,195.98662,191.57228,188.17290,109.82582,93.186417
1,9/1/2018 0:02:00,4110N,NaN,39349.859,211.37585,27914.863,14821.011,8553.7354,8235.4736,76240.289,...,188.38400,192.46667,191.22163,195.39833,190.43701,195.92068,191.54037,188.06023,109.82489,93.182861
2,9/1/2018 0:03:00,4110N,NaN,39299.203,236.44901,26407.764,14790.954,8550.0254,8236.8008,76246.266,...,188.33170,192.42241,191.18413,195.38177,190.37990,195.85475,191.50848,187.94756,109.82396,93.179306
3,9/1/2018 0:04:00,4110N,NaN,39085.840,261.52216,25929.623,14760.897,8546.3154,8238.1279,76252.242,...,188.27939,192.37813,191.14664,195.36520,190.32278,195.78882,191.47658,187.83487,109.82303,93.175743
4,9/1/2018 0:05:00,4110N,NaN,38872.480,286.59531,25934.773,14730.841,8542.6045,8239.4551,76258.227,...,188.22707,192.33385,191.10913,195.34863,190.26567,195.72289,191.44469,187.72220,109.82209,93.172188

In [16]:
tag.isnull().sum() #only 168 rows with na for most columns, 1474 for proGrade, let's delete them

Time                       0
ProdGrade                 10
MI                    473028
P1:FC70104               168
P1:FC70113               168
P1:FC70116               168
P1:FC70117               168
P1:FC70120               168
P1:FC70121               168
P1:FC70302               168
P1:Fc70302.AOT           168
P1:FC70309                 0
P1:FC70310               168
P1:FCV70111              168
P1:FFC70106              168
P1:FFC70113              168
P1:FFC70118              168
P1:FFC70119              168
P1:FI70402               168
P1:FR70106               168
P1:FR70119               168
P1:FR70303               168
P1:LC70104               168
P1:LC70104.PID           168
P1:PI70123               168
P1:PI70136               168
P1:PR70200               168
P1:PRS70108              168
P1:PRS70108.PID          168
P1:QI70402A              168
                       ...
P1:QIA701002             168
P1:QIA701003             168
P1:QIA701004             168
P1:QIA701005             168
P1:R700ACT               168
P1:R700ACT-Average       168
P1:R700RECYCLEB          168
P1:R700RECYCLET          168
P1:SI/TI-700-MVG         168
P1:TC70311               168
P1:TCS70100              168
P1:TCS70100.PID          168
P1:TI70140               168
P1:TI70141               168
P1:TI70304               168
P1:TI8802                168
P1:TR70100               168
P1:TR70101               168
P1:TR70102               168
P1:TR70103               168
P1:TR70104               168
P1:TR70105               168
P1:TR70106               168
P1:TR70107               168
P1:TR70108               168
P1:TR70109               168
P1:TR70110               168
P1:TR70111               168
P1:TR70201               168
P1:TR70305               168
Length: 61, dtype: int64

In [17]:
#delete rows with nas except for MI

#first we delete MI from columns 
tag_subset = np.array(tag.columns)
tag_subset = np.delete(tag_subset, np.argwhere(tag_subset=='MI'))
tag_subset

array(['Time', 'ProdGrade', 'P1:FC70104', 'P1:FC70113', 'P1:FC70116',
       'P1:FC70117', 'P1:FC70120', 'P1:FC70121', 'P1:FC70302',
       'P1:Fc70302.AOT', 'P1:FC70309', 'P1:FC70310', 'P1:FCV70111',
       'P1:FFC70106', 'P1:FFC70113', 'P1:FFC70118', 'P1:FFC70119',
       'P1:FI70402', 'P1:FR70106', 'P1:FR70119', 'P1:FR70303',
       'P1:LC70104', 'P1:LC70104.PID', 'P1:PI70123', 'P1:PI70136',
       'P1:PR70200', 'P1:PRS70108', 'P1:PRS70108.PID', 'P1:QI70402A',
       'P1:QIA701001', 'P1:QIA701002', 'P1:QIA701003', 'P1:QIA701004',
       'P1:QIA701005', 'P1:R700ACT', 'P1:R700ACT-Average',
       'P1:R700RECYCLEB', 'P1:R700RECYCLET', 'P1:SI/TI-700-MVG',
       'P1:TC70311', 'P1:TCS70100', 'P1:TCS70100.PID', 'P1:TI70140',
       'P1:TI70141', 'P1:TI70304', 'P1:TI8802', 'P1:TR70100',
       'P1:TR70101', 'P1:TR70102', 'P1:TR70103', 'P1:TR70104',
       'P1:TR70105', 'P1:TR70106', 'P1:TR70107', 'P1:TR70108',
       'P1:TR70109', 'P1:TR70110', 'P1:TR70111', 'P1:TR70201',
       'P1:TR70305'], dtype=object)

In [18]:
#then we pass this in argument in dropna
tag = tag.dropna(subset = tag_subset)

In [19]:
sum(tag['MI'].notnull()) #only 1920 not null value for MI

1920

In [21]:
#export the cleaned tag dataset
#tag.to_csv(r'~/Desktop/APAN5900/Tag Data JG Final.csv', index=False)
tag.to_csv(r'C:/Users/cos00/Desktop/Nuclear/APAN5900/Tag Data Final.csv', index=False)